In [1]:
my_variable = {
    "string": "Hello, World!",
    "list": [1, 2, 3, 4, 5],
    "float": 3.14,
    "tuple": (10, 20, 30)
}

'var1' has data type 'str'.
'var2' has data type 'str'.
'var3' has data type 'list'.
'var4' has data type 'int'.

'/' (Division Operator): The division operator is used to divide one number by another and obtain the quotient as the result. It performs normal division and returns a float result.
Example:

In [2]:
result = 10 / 3
print(result)

3.3333333333333335

'%' (Modulo Operator): The modulo operator is used to calculate the remainder of a division operation. It returns the remainder after dividing one number by another.
Example:

In [3]:
remainder = 10 % 3
print(remainder)

1

In [ ]:
'//' (Floor Division Operator): The floor division operator is used to perform division where the result is rounded down to the nearest whole number (floor value). It returns an integer result, discarding any decimal places.
Example:

In [5]:
result = 10 // 3
print(result)

3

In [ ]:
'**' (Exponentiation Operator): The exponentiation operator is used to raise a number to a power. It calculates the result of raising the base number to the exponent.
Example:

In [6]:
result = 2 ** 3
print(result)

8

In [7]:
my_list = [10, 'Hello', 3.14, True, [1, 2, 3], {'name': 'John', 'age': 25}, (4, 5, 6), None, 'OpenAI', 99]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 10, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'John', 'age': 25}, Data Type: <class 'dict'>
Element: (4, 5, 6), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: OpenAI, Data Type: <class 'str'>
Element: 99, Data Type: <class 'int'>

In [8]:
A = 48
B = 3

count = 0
while A % B == 0:
    A = A // B
    count += 1

print(f"Number of times A is divisible by B: {count}")

Number of times A is divisible by B: 1

In [9]:
my_list = [10, 12, 15, 18, 20, 22, 25, 28, 30, 33, 36, 40, 42, 45, 48, 50, 52, 55, 58, 60, 63, 66, 70, 72, 75]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3")
    else:
        print(f"{element} is not divisible by 3")

10 is not divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
20 is not divisible by 3
22 is not divisible by 3
25 is not divisible by 3
28 is not divisible by 3
30 is divisible by 3
33 is divisible by 3
36 is divisible by 3
40 is not divisible by 3
42 is divisible by 3
45 is divisible by 3
48 is divisible by 3
50 is not divisible by 3
52 is not divisible by 3
55 is not divisible by 3
58 is not divisible by 3
60 is divisible by 3
63 is divisible by 3
66 is divisible by 3
70 is not divisible by 3
72 is divisible by 3
75 is divisible by 3

Immutable data types:

Immutable objects cannot be changed once they are created. Any attempt to modify them results in the creation of a new object. Examples of immutable data types in Python include strings, numbers (integers, floats), and tuples.
Here's an example showcasing the immutability of strings:

In [10]:
string = "Hello"
print(string)

Hello

In [11]:
string += " World"
print(string)

Hello World

In [12]:
print(string)

Hello World

Mutable data types:

Mutable objects can be modified after they are created. Any changes made to the object directly modify its state. Examples of mutable data types in Python include lists, dictionaries, and sets.
Here's an example showcasing the mutability of lists:

In [13]:
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [14]:
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [15]:
print(my_list)

[1, 2, 3, 4]